:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
  
    .new-game {
      display: none;
      margin: 50px auto;
    }

    .memory-game {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 1000px;

      .memory-card {
        position: relative;
        background-color: #1F2122;
        width: calc(245px - 2px);
        height: calc(245px - 2px);
        cursor: pointer;
        margin: 1px;
        transform-style: preserve-3d;
        transition: transform .5s;
        transform: rotateY(180deg);

        &.is-open {
          transform: rotateY(0);

          img {
            &.back-side {
              z-index: -1;
            }
          }
        }

        > img {
          width: 100%;
          position: absolute;

          &.front-side {
            backface-visibility: hidden;
          }
        }
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
