@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

$font-family: 'Playfair Display', serif;
$color-black: #1F2122;
$color-dark-black: #000;
$color-white: #fff;

:root {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: 400;

  // color-scheme: light dark;
  color: $color-black;
  background-color: $color-white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

b {
  font-weight: 600;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  user-select: none;

  #app {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 5px;

      > input {
        border: 1px solid #ccc;
        border-radius: 30px;
        padding: 15px 50px;
        margin-bottom: 5px;
        font-family: $font-family;
        font-size: 20px;
        outline: none;
      }
    }

    .memory-game {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 1000px;

      .memory-card {
        position: relative;
        background-color: $color-black;
        cursor: pointer;
        margin: 1px;
        transform-style: preserve-3d;
        transition: transform .5s;
        transform: rotateY(180deg);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        width: calc(200px - 2px);
        height: calc(200px - 2px);

        @media (min-width: 1024px) {
          width: calc(250px - 2px);
          height: calc(250px - 2px);
        }

        &.is-open {
          transform: rotateY(0);
          cursor: default;

          img {
            &.back-side {
              z-index: -1;
            }
          }
        }

        > img {
          -webkit-user-drag: none;
          -khtml-user-drag: none;
          -moz-user-drag: none;
          -o-user-drag: none;
          user-drag: none;
          width: 50%;
          position: absolute;
          

          &.front-side {
            backface-visibility: hidden;
          }
        }
      }
    }

    .info-box {
      background-color: $color-black;
      color: $color-white;
      filter: drop-shadow(0 0 0.75rem $color-dark-black);
      text-align: center;
      font-size: 34px;
      border-radius: 8px;
      padding: 120px;
      max-width: 500px;
      height: auto;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      transform: translateY(-197px);
      right: 0;
      left: 0;
      z-index: 10;
      display: none;

      > p {
        margin-bottom: 12px;
      }

      .close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 25px;
        height: 25px;
        cursor: pointer;
      }
    }

    h1 {
      font-size: 24px;
      margin: 20px auto;
      text-align: center;

      @media (min-width: 1024px) {
        margin: 20px 0 20px 5px;
        text-align: left;
      }
    }

    button {
      cursor: pointer;
      font-size: 20px;
      background-color: rgba(31, 33, 34, 1);
      border: none;
      border-radius: 30px;
      color: #fff;
      padding: 15px 50px;
      font-family: $font-family;

      &:hover {
        background-color: rgba(31, 33, 34, .8);
      }

      &.new-game {
        display: none;
        margin: 0 auto;
      }
    }
  }
}