@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;500&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  user-select: none;
  font-family: 'Playpen Sans', cursive;

  #app {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;

    form {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

      > input {
        border: 1px solid #ccc;
        border-radius: 30px;
        padding: 15px 50px;
        font-size: 20px;
        font-family: 'Playpen Sans', cursive;
        outline: none;
        text-align: center;
      }
    }

    .memory-game {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 1000px;

      .memory-card {
        position: relative;
        background-color: #1F2122;
        width: calc(245px - 2px);
        height: calc(245px - 2px);
        cursor: pointer;
        margin: 1px;
        transform-style: preserve-3d;
        transition: transform .5s;
        transform: rotateY(180deg);
        display: flex;
        align-items: center;
        justify-content: center;

        &.is-open {
          transform: rotateY(0);

          img {
            &.back-side {
              z-index: -1;
            }
          }
        }

        > img {
          width: 60%;
          position: absolute;
          

          &.front-side {
            backface-visibility: hidden;
          }
        }
      }
    }

    .new-game {
      display: none;
      margin: 30px auto;
    }

    button {
      cursor: pointer;
      font-size: 20px;
      background-color: rgba(31, 33, 34, 1);
      border: none;
      border-radius: 30px;
      color: #fff;
      padding: 15px 50px;
      font-family: 'Playpen Sans', cursive;

      &:hover {
        background-color: rgba(31, 33, 34, .8);
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
